# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Test

on:
  workflow_dispatch:
    inputs:
      run-buggy:
        description: Run buggy version (1.3.5)
        required: true
        type: boolean
  push: { branches: [master] }

jobs:
  test:
    name: Bun ${{ matrix.bun-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        bun-version: [latest, canary]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Bun (${{ matrix.bun-version }})
        uses: oven-sh/setup-bun@v2
        id: setup-bun
        with: { bun-version: "${{ matrix.bun-version }}" }
      - run: bun install
      - name: Display Bun Version
        run: |
          printf "Using Bun version: %s (%s)\n\n" "${MATRIX}" "${REVISION}" | tee "${GITHUB_STEP_SUMMARY}"
          {
            echo "MATRIX=${MATRIX}"
            echo "REVISION=${REVISION}"
          } | tee "${GITHUB_ENV}"
        env:
          REVISION: ${{ steps.setup-bun.outputs.bun-revision }}
          MATRIX: ${{ matrix.bun-version }}
      - name: Run Tests
        if: ${{ github.event_name == 'push' || github.event.inputs.run-buggy == 'true' }}
        run: |
          bun test; LASTEXITCODE=$?
          if [[ ${LASTEXITCODE} -eq 0 ]]; then
            echo "::notice title=Version ${VERSION} passed::";
          else
            echo "::error:: title=Version ${VERSION} failed::";
          fi
          exit $LASTEXITCODE;
